/* @import url('https://fonts.googleapis.com/css2?family=Poppins$display=swap'); */

 * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgba(255, 253, 253, 0.932), rgba(255, 255, 255, 0.993));
    background-size: cover;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.137);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {   
    color: black;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.336);
}

.title a {
    font-size: 2.6em;
    font-weight: bold;
    font-family: 'Raleway', curisve, sans-serif;
    text-decoration: none;
    cursor: pointer;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.2s;
}

.navbar ul li::before {
    content: '';
    height: 3px;
    width: 100%;
    background: red;
    position: absolute;
    left: 0;
    top: 0px;
    transition: all 0.2s;
}

.navbar ul li:hover::after {
    width: 100%;
} 

.navbar ul li:hover::before {
    width: 0;
}

.search-field {
    position: relative;
    display: flex;
    max-width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    left: 10%;
}

.search-field input {
    max-width: 100%;
    padding: 8px 0 8px 16px;
    padding-left: 30px;
    border-radius: 90px;
    border-color: black;
    background-color: #d9d9df;
    font-size: larger;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s;
}

.search-field label {
    font-family: cursive;
    font-size: 1.8em;
    padding-top: 10px;
    padding-right: 12px;
}

.filter {
    position:relative;
}

.filter select {   
    padding: 18px;
    background-color: black;
    color: white;
    font-size: large;
    margin-left: 800px;
    cursor: pointer;
    justify-content: flex-end;
}

section .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 5%;
} 

/* section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minnmax(150px, auto));
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 1240px;
    padding: 20px;
} */

 section .grid-container .item {
    border: 2px solid black;
    background-color: rgb(221, 216, 216);
    border-radius: 6px;
    margin: 2px;
    font-size: 1rem;
    padding: 8em;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.199);
    height: 20px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

section .grid-container .item .country-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    transition: 0.5s;
    transform-origin: top;
    font-weight: bolder;

}

section .grid-container .item:hover .country-card{
    transform: translateY(5px) scale(0.8);
    
}

section .grid-container .item .country-card #more-info{
    position: absolute;
    font-size: 12px;
    display: none;
    transition: all 0.1s;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

section .grid-container .item .country-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section .grid-container .item:hover {
    transform: scale(1.9);
    box-shadow: 2px 4px rgba(0, 0, 0, 0.048);   
    z-index: 5;
    
}

/* .hide {
    opacity: 0;
    transform: scale(0);
    transition: all 5s;
} */

.hide {
    opacity: 0;
    transform: scale(0);
    transition: all 5s;
}

@media(prefers-reduced-motion) {
    .item {
        transition: none;
    }
}

#flag{
    border: inherit;
    position: relative;
}

footer {
    position:sticky;
    margin-top: 50px;
    z-index: -2;
    margin-left: 45%;
} 