@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6c9bcf;
    --color-success: #ff0060;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radisu-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    overflow-x: hidden;
}

.banner {
    width: 100%;
    /* background-image: linear-gradient(rgba(255, 253, 253, 0.932), rgba(255, 255, 255, 0.993)); */
    background-color: var(--color-background);
    background-size: cover;
    box-shadow: var(--box-shadow);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--color-dark);
    font-size: 2.6rem;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: var(--color-dark);
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}


.navbar ul li:not(:last-child)::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--color-success);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.2s;
}

.navbar ul li:not(:last-child)::before {
    content: '';
    height: 3px;
    width: 100%;
    background: var(--color-success);
    position: absolute;
    left: 0;
    top: 0px;
    transition: all 0.2s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li:hover::before {
    width: 0;
}

.navbar ul li .dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.search-field {
    position: relative;
    display: flex;
    max-width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    left: 10%;
}

.search-field input {
    max-width: 100%;
    padding: 8px 0 8px 16px;
    padding-left: 30px;
    border-radius: 90px;
    border-color: var(--color-dark);
    background-color: var(--color-background);
    font-size: larger;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s;
}

.search-field label {
    font-family: cursive;
    font-size: 1.8em;
    padding-top: 10px;
    padding-right: 12px;
}

.filter {
    position: relative;
}

.filter select {
    padding: 18px;
    background-color: var(--color-dark);
    color: var(--color-background);
    font-size: large;
    margin-left: 800px;
    cursor: pointer;
    justify-content: flex-end;
}

#normal-view {
    display: block;
}

#normal-view section .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 0%;
    transition: all ease 0.5s;
}

#normal-view section .grid-container.deactive {
    display: none;
}

#worldmap-view {
    display: none;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 98%;
    /* margin-left: 10%; */
    /* margin-top: 5%; */
    transition: all 0.8s;
}

#worldmap-view.deactive {
    display: none;
}


#name {
    position: absolute;
    background-color: var(--color-dark);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid var(--color-primary);
    padding: 5px;
    font-size: 1.5rem;
}

svg path {
    cursor: pointer;
    /* fill: var(--color-dark); */
}

svg path:hover {
    fill: var(--color-primary);
}

/* section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minnmax(150px, auto));
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 1240px;
    padding: 20px;
} */

section .grid-container .item {
    background-color: var(--color-white);
    border-radius: 6px;
    margin: 2px;
    font-size: 1rem;
    padding: 8em;
    box-shadow: var(--box-shadow);
    height: 20px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

section .grid-container .item .country-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    transition: 0.5s;
    transform-origin: top;
    font-weight: bolder;

}

section .grid-container .item:hover .country-card {
    transform: translateY(5px) scale(0.8);

}

section .grid-container .item .country-card #more-info {
    position: absolute;
    font-size: 12px;
    display: none;
    transition: all 0.1s;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

section .grid-container .item .country-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section .grid-container .item:hover {
    transform: scale(1.9);
    box-shadow: 2px 4px rgba(0, 0, 0, 0.048);
    z-index: 5;

}

/* .hide {
    opacity: 0;
    transform: scale(0);
    transition: all 5s;
} */

.hide {
    opacity: 0;
    transform: scale(0);
    transition: all 5s;
}

@media(prefers-reduced-motion) {
    .item {
        transition: none;
    }
}

#flag {
    border: inherit;
    position: relative;
}

footer {
    position: sticky;
    margin-top: 50px;
    z-index: -2;
    margin-left: 45%;
}